<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LogFolderTrees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LogFolderTreesCocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF30D1C01EC174B30050FB53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF30D1D91EC174B30050FB53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF30D1E41EC174B30050FB53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF30D1FE1EC409C90050FB53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF30D2131EC409CA0050FB53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF30D21E1EC409CA0050FB53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
